registry=https://pkgs.dev.azure.com/1RivetUSInc/_packaging/1RivetUSInc/npm/registry/                      

always-auth=true
; begin auth token
//pkgs.dev.azure.com/1RivetUSInc/_packaging/1RivetUSInc/npm/registry/:username=1RivetUSInc
//pkgs.dev.azure.com/1RivetUSInc/_packaging/1RivetUSInc/npm/registry/:_password=[ajZhejJ1cXRmZzJkaXViN2dpaXB5eXRxYndxYng1bmJ2am9rZGp6MndpandmcGcycjJtYQ==]
//pkgs.dev.azure.com/1RivetUSInc/_packaging/1RivetUSInc/npm/registry/:email=mrunal.patel@1rivet.com
//pkgs.dev.azure.com/1RivetUSInc/_packaging/1RivetUSInc/npm/:username=1RivetUSInc
//pkgs.dev.azure.com/1RivetUSInc/_packaging/1RivetUSInc/npm/:_password=[ajZhejJ1cXRmZzJkaXViN2dpaXB5eXRxYndxYng1bmJ2am9rZGp6MndpandmcGcycjJtYQ==]
//pkgs.dev.azure.com/1RivetUSInc/_packaging/1RivetUSInc/npm/:email=mrunal.patel@1rivet.com
; end auth token